.card_clases{
    background: rgb(1,45,152);
    background: linear-gradient(90deg, rgba(1,45,152,1) 0%, rgba(2,2,32,1) 100%);
}

.card_mensual{
    background: rgb(217,0,29);
    background: linear-gradient(90deg, rgba(217,0,29,1) 0%, rgba(138,8,25,1) 100%);
}

.card{
    color:#fff;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(204,190,204,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(204,190,204,1);
    box-shadow: 5px 5px 5px 0px rgba(204,190,204,1);
    border:none;
}

ul {
    list-style-image: url('../img/logo/check.png');
  }

li {
    padding: 5px;
}

.title_diario{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 900;
}

.title_mensual{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 900;
}