html, body{
    font-family: 'Open Sans', sans-serif !important;
}

.contenedor{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.bg_institucional1{
    background: rgb(1,45,152);
    background: linear-gradient(90deg, rgba(1,45,152,1) 0%, rgba(2,2,32,1) 100%);
}

.bg_institucional2{
    background: rgb(217,0,29);
    background: linear-gradient(90deg, rgba(217,0,29,1) 0%, rgba(138,8,25,1) 100%);
}

.bg_institucional3{
    background:-webkit-linear-gradient(90deg, #212529 0%, #050505 80%);
    background:-o-linear-gradient(90deg, #212529 0%, #050505 80%);
    background:-moz-linear-gradient(90deg, #212529 0%, #050505 80%);
    background:linear-gradient(90deg, #212529 0%, #050505 80%);
}

.hr_style_bg1{
    border: 3px solid #012D98;
}

.hr_style_bg2{
    border: 3px solid #D9001D;
}

.borde_inferior{
    width: 100%;
    height: 10px;
    background-color: #D9001D;
}

.text_justify{
    text-align: justify !important;
}